@media (min-width: 1400px){
   .wy-nav-content{
        max-width: 80%;
        margin: 0 auto;
   }
}
@media (max-width: 1400px) and (min-width: 800px){
    .wy-nav-content{
         max-width: 95%;
         margin: 0 auto;
    }
 }
