@media (min-width: 1700px){
   .wy-nav-content{
        max-width: 80%;
        margin: 0 auto;
   }
}
@media (max-width: 1700px) and (min-width: 800px){
    .wy-nav-content{
         max-width: 95%;
         margin: 0 auto;
    }
 }

 .wy-nav-content-wrap{
      background-color: #fcfcfc;
 }
